<div>
	<div class="container ">
      <p>Hi <strong><%=current_user.first_name%></strong> ! Your verification Link Sent to <strong><%= current_user.email%></strong>, Go to your email and check the verifaction email to activate your account.</p>
	</div>
</div>

