<%=render 'header'%>
<div class="center rounded border border-success bg-white my-4">
<div class="container my-5">
	<div class="colums">
		<div class="item">
			<label for="eamil">Emial</label>
      <input type="eamil" name="eamil" value="<%=current_user.email%>" disabled>
		</div>
		<div class="item">
			<label for="eamil">Phone Number</label>
      <input type="eamil" name="eamil" value="<%=current_user.phone_number%>" disabled>
		</div>
</div>
<div class="colums">
		<div class="item">
			<label for="eamil">Enter Code</label>
      		<input type="eamil" name="eamil">
      		<button class="btn btn-sm btn-primary rounded border-success m-2">Verify</button>
		</div>
		<div class="item">
			<label for="eamil">Enter Code</label>
      		<input type="eamil" name="eamil">
      		<button class="btn btn-sm btn-primary rounded border-success m-2">Verify</button>
		</div>
</div>
</div>
</div>