<h1>VerificationEmail</h1>

<p>
 <h1>Welcome to Devsloop.com</h1>
    <p>
      You have successfully signed In to <strong> "Devsloop.com" </strong>your user email is: <%= @user.email%>.</p>
    </p>
    <p>
      To Verify the Account, Entert the OTP Code <strong> <%=@code%></strong>
    </p>
    <p>Thanks for joining and have a great day!</p>
</p>
